{% extends 'nav.html' %}
 {% block title %}Reset password{% endblock title %}
{%block form %}
<h2 data-aos="fade-down">Request a reset link</h2>
<form
  action="/auth/request_reset_email/"
  method="post"
  role="form">
  {% csrf_token %}
  {% for message in messages %}
  <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    <strong>! </strong> {{message}}.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %} 
  <div class="form-group mb-3">
    <input
      type="email"
      class="form-control"
      name="email"
      value={{user.email}}
      placeholder="Your Email"
      required
    />
  </div>
  <div class="text-center">
    <button type="submit" class="btn-get-started">Submit</button>   
  </div>
  <div class="form-group mb-3">
    <p>Go back? <a href="/auth/login/">Go back<a/><p/>
  </div>
 
</form>
{% endblock form %}
